@import '~node_modules/modern-normalize/modern-normalize.css';

/* Сброс параметров */


* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    background-color: #ffffd0;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* Сброс параметров Конец */

section {
    margin-top: 60px;
    // padding-top: 40px;
    padding-bottom: 30px;
    // background-color: #ffffd0;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    // background-color: #ffffa0;
}

.title {
    margin-bottom: 40px;
    text-align: center;
}

.item {
    /* margin-bottom: 20px; */
    text-align: left;
    width: 250px;
    margin: 10px auto;
}
