
.form-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    background-color: rgba(63, 86, 214, 0.8);
    /* padding: 100px auto; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.search-form input {
    /* font-family: sans-serif; */
    height: 32px;
    /* font-size: 18px; */
    border-radius: 2px;
    padding-left: 5px;
    /* background-color: rgb(8, 230, 119); */
    /* margin-right: 0; */
    color: #000;
}

.search-form button {
    display: inline-block;
    /* font-size: 18px; */
    height: 30px;
    /* margin-left: 0; */
    /* transform: translatey(3px); */
    
}