
<section>
    <div class="container">
        <div class="gallery">
            <!-- Разметка Картки зображень -->  

            <!-- <div class="gallery__item">

                <a href="${item.largeImageURL}" class="gallery__link">
                    <img src="${item.webformatURL}" class="gallery__image" alt="${item.tags}" loading="lazy" />
                </a>
                <div class="info">
                    <p class="info-item">
                        <b>Likes ${item.likes}</b>
                    </p>
                    <p class="info-item">
                        <b>Views ${item.views}</b>
                    </p>
                    <p class="info-item">
                        <b>Comments ${item.comments}</b>
                    </p>
                    <p class="info-item">
                        <b>Downloads ${item.downloads}</b>
                    </p>
                </div>
                
            </div> -->
        </div>
        <button type="button" class="load-more is-hidden">Load more</button>

    </div>
</section>